h1 {
color: #856D63;
font-size: 75px;
text-shadow: 1px 1px #a1a1a1;
}

b {
color: #856D63;
font-size: 12px;
text-transform: uppercase;
}

body {
text-align: center;
background-image: url("stripes.png");
font-family: Open Sans;
color: #787878;
}

table {
text-align: center;}

a {
text-decoration:none;
color: #82BDD1;
}

a:hover {
	color:#AEC8CF;
}


#navbox {
position: fixed;
text-align: center;
margin-left: 10%;
margin-top: 10%;
}

#content {
position: fixed;
margin-top: 2%;
margin-left: 35%;
text-align: center;
width: 30%;
}

nav a {
display: block;
background-color:#AEC8CF;
color: white;
border-left: 10px solid #856D63;
width: 75%;
margin: 10px;
margin-left: 8%;
padding-left: 5px;
font-size: 11px;
text-transform:uppercase;
transition: 500ms all ease-in;

}

nav a:hover {
transition: 500ms all ease-in-out;
margin-left: 10%;
}

input[type="text"], input[type="password"]{
color: #a1a1a1;
height: 20px;
width: 150px;
border: 1px solid #a1a1a1;
font-family: 'Open Sans';}

input[type="text"]:focus{
outline: 0;
}
input[type="password"]:focus {
outline: 0;
}

input[type=button]{
background-color: #FFF;
width: 150px;
height: 20px;
font-size: 9px;
color: #856D63;
text-decoration:none;
text-transform: uppercase;
text-align: center;
line-height: 20px;
border: 1px solid #a1a1a1;
}


input[type="button"]:hover{color:#9CC1BE;}
input[type="button"]:active{color: #42707A;}
input[type="button"]:focus {outline: 0;}


